
# Ramas del árbol de directorios:
/doc/icons
/doc/miscellany
/doc/musica
/doc/ref
/ejecutable
/empaquetador
/font/*.zip

# Documentación y ficheros creados al generar la documentación con 'pdflatex':
/doc/memoria/notas
*.aux
*.bbl
*.blg
*.doc
*.dvi
*.lof
*.log
*.lot
*.out
*.pdf
*.toc

# Ficheros multimedia:
*.ico
*.ogg
*.png
*.psd

# Ficheros de configuración:
*.cconfig

# Ejecutables de Máquina-Z y Glulx:
*.z5
*.z8
*.zblorb
*.ulx
*.blb
*.gblorb
